.container {
  display: flex;
  /* min-height: 100vh; */
  color: var(--text);

}

.side {
  border-right: 1px solid var(--secondary);
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 35vw;
}

.main {
  position: relative;
  left: 35vw;
  width: calc(100% - 35vw);
  padding: 0 4rem;
}

.socials {
  display: flex;
}
