.container {
  border: 1px solid red;
  display: flex;
  min-height: 100vh;
  padding: 0 4rem;
  /* background: #7da2a9; */
  background: #f7f7f7;
  color: #000000;

}

.side {
  border: 1px solid orange;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 4rem;
  top: 0;
  width: 30vw;
}

.main {
  border: 1px solid green;
  position: relative;
  left: 30vw;
  width: 60vw;
}

.socials{
  display:flex;
}

.socials *{
  margin-right:10px;
}