.container {
  border: 1px solid red;
  display: flex;
  min-height: 100vh;
  padding: 0 2rem;
}

.side {
  border: 1px solid orange;
  min-height: 100vh;
  flex-grow: 2;
}

.main {
  border: 1px solid green;
  min-height: 100vh;
  flex-grow: 5;
}